# A dataset about dogs.

Data from [a FOIL request to New York City](https://www.muckrock.com/foi/new-york-city-17/pet-licensing-data-for-new-york-city-23826/)

## Do your importing and your setup

In [7]:
import pandas as pd
%matplotlib inline

## Read in the file `NYC_Dog_Licenses_Current_as_of_4-28-2016.xlsx` and look at the first five rows

In [ ]:
df = pd.read_excel('NYC_Dog_Licenses_Current_as_of_4_28_2016.xlsx')

In [16]:
df.head(5)

,Owner Zip Code,Animal Name,Animal Gender,Primary Breed,Secondary Breed,Animal Dominant Color,Animal Secondary Color,Animal Third Color,Animal Birth,Spayed or Neut,Guard or Trained,Vaccinated,Application Date,License Issued Date,License Expired Date
0,10024,BLUE MACK,M,Unknown,AIREDALE TERR,BROWN,BLACK,NaN,2007-11-01,Yes,No,Yes,2012-09-19 16:01:19.647,2015-09-19,2016-09-19
1,10461,Indie Zephir,M,Rottweiler,NaN,BLACK,TAN,NaN,2013-04-01,No,No,Yes,2013-09-20 11:41:36.647,2014-09-20,2018-09-20
2,10013,Bilal,M,Australian Cattledog,NaN,Rust,NaN,NaN,2014-09-01,Yes,NaN,No,2014-09-12 13:13:36.713,2014-09-12,2019-09-12
3,10025,Buddy,M,Unknown,Cockapoo,BLOND,WHITE,NaN,2008-04-01,Yes,No,Yes,2014-09-12 15:26:51.417,2014-09-12,2017-10-20
4,10013,Ali,M,Basenji,NaN,Black,NaN,NaN,2014-01-01,No,NaN,No,2014-09-12 15:43:17.707,2014-09-12,2019-09-12

## How many rows do you have in the data? What are the column types?

If there are more than 30,000 rows in your dataset, go back and only read in the first 30,000.

In [26]:
df .shape

(3000, 15)

In [28]:
df.head(30000)

,Owner Zip Code,Animal Name,Animal Gender,Primary Breed,Secondary Breed,Animal Dominant Color,Animal Secondary Color,Animal Third Color,Animal Birth,Spayed or Neut,Guard or Trained,Vaccinated,Application Date,License Issued Date,License Expired Date
0,10024,BLUE MACK,M,Unknown,AIREDALE TERR,BROWN,BLACK,NaN,2007-11-01,Yes,No,Yes,2012-09-19 16:01:19.647,2015-09-19,2016-09-19
1,10461,Indie Zephir,M,Rottweiler,NaN,BLACK,TAN,NaN,2013-04-01,No,No,Yes,2013-09-20 11:41:36.647,2014-09-20,2018-09-20
2,10013,Bilal,M,Australian Cattledog,NaN,Rust,NaN,NaN,2014-09-01,Yes,NaN,No,2014-09-12 13:13:36.713,2014-09-12,2019-09-12
3,10025,Buddy,M,Unknown,Cockapoo,BLOND,WHITE,NaN,2008-04-01,Yes,No,Yes,2014-09-12 15:26:51.417,2014-09-12,2017-10-20
4,10013,Ali,M,Basenji,NaN,Black,NaN,NaN,2014-01-01,No,NaN,No,2014-09-12 15:43:17.707,2014-09-12,2019-09-12
5,10013,Queen,F,Akita Crossbreed,NaN,Charcoal,Red,NaN,2013-04-01,No,NaN,Yes,2014-09-12 16:14:48.487,2014-09-12,2017-09-12
6,10035,Paige Sable Orta,F,American Pit Bull Mix / Pit Bull Mix,NaN,White,Gray,NaN,2014-07-01,No,NaN,No,2014-09-12 16:22:54.113,2014-09-12,2017-09-12
7,10465,Yogi,M,Boxer,NaN,TAN,BLACK,NaN,2010-09-01,Yes,No,Yes,2014-09-12 16:47:35.317,2014-09-12,2017-10-02
8,10013,Chewbacca,F,Labrador Retriever Crossbreed,NaN,RED,NaN,NaN,2012-06-01,Yes,No,Yes,2014-09-12 17:42:56.647,2014-09-12,2019-10-01
9,10013,IAN,M,Unknown,GREYHOUND TER X,WHITE,BLACK,NaN,2006-01-01,Yes,No,Yes,2014-09-12 19:09:19.020,2014-09-12,2019-10-30
10,10028,Lola,F,Maltese,NaN,Apricot,White,NaN,2009-06-01,Yes,No,Yes,2014-09-12 22:07:33.697,2014-09-12,2017-10-09
11,11232,muneca,F,Beagle,NaN,White,Black,Brown,2013-05-01,Yes,NaN,Yes,2014-09-13 00:58:36.603,2014-09-13,2019-09-13
12,10022,Elizabeth,F,Cavalier King Charles Spaniel,NaN,Brown,White,NaN,2013-03-01,Yes,NaN,Yes,2014-09-13 07:07:54.303,2014-09-13,2019-09-13
13,11209,Benson,M,Boxer,NaN,BRINDLE,NaN,NaN,2010-07-01,Yes,No,Yes,2014-09-13 11:14:34.093,2014-09-13,2019-10-29
14,10025,Dottie,F,"Poodle, Standard",NaN,Cream,NaN,NaN,2013-04-01,Yes,NaN,Yes,2014-09-13 11:28:32.237,2014-09-13,2017-09-13
15,11215,Lucy Moo Jung,F,Dachshund Smooth Coat Miniature,NaN,White,Black,NaN,2014-03-01,Yes,NaN,Yes,2014-09-13 13:40:23.943,2014-09-13,2019-09-13
16,10025,Apple Wazowski Panwar,M,Havanese,NaN,WHITE,BLACK,NaN,2013-07-01,Yes,No,No,2014-09-13 14:13:16.553,2014-09-13,2019-10-16
17,10312,Buddy,M,Bull Terrier,NaN,BLACK,WHITE,NaN,2012-10-01,Yes,No,Yes,2014-09-13 14:23:18.100,2014-09-13,2019-10-05
18,11220,Ricky,M,German Shepherd Dog,NaN,Black,Tan,NaN,2014-07-01,No,NaN,No,2014-09-13 15:40:08.160,2014-09-13,2017-09-13
19,10002,Avery,F,American Pit Bull Terrier/Pit Bull,NaN,Gray,NaN,NaN,2014-06-01,No,NaN,No,2014-09-13 15:55:11.457,2014-09-13,2019-09-13
20,10025,Sarah,F,Unknown,Boxer/Pharaoh Hound/Other,Brindle,NaN,NaN,2012-12-01,Yes,NaN,Yes,2014-09-13 16:03:32.067,2014-09-13,2017-09-13
21,10308,Sophie,F,Boxer,NaN,BROWN,BRINDLE,NaN,2011-09-01,Yes,No,Yes,2014-09-13 16:03:55.300,2014-09-13,2019-10-23
22,11201,Massimo,M,"Bull Dog, French",NaN,WHITE,BLACK,NaN,2009-07-01,Yes,No,Yes,2014-09-13 16:16:53.533,2014-09-13,2017-09-17
23,11218,Bess Walker,F,Beagle,NaN,BLACK,BROWN,WHITE,2010-09-01,Yes,No,Yes,2014-09-13 16:48:52.177,2014-09-13,2016-09-13
24,11208,Bigs,M,American Pit Bull Terrier/Pit Bull,NaN,BROWN,WHITE,NaN,2004-12-01,Yes,No,Yes,2014-09-13 17:27:27.300,2014-09-13,2019-10-27
25,10003,Lemmy,F,Yorkshire Terrier,NaN,BLOND,GRAY,NaN,2005-07-01,Yes,No,Yes,2014-09-13 18:07:38.363,2014-09-13,2017-10-26
26,11238,June Bug,F,Cavalier King Charles Spaniel,NaN,WHITE,BLACK,BROWN,2010-04-01,Yes,No,Yes,2014-09-13 18:44:29.190,2014-09-13,2019-10-28
27,10463,Murphy,M,American Pit Bull Mix / Pit Bull Mix,NaN,BROWN,WHITE,NaN,2012-01-01,Yes,No,Yes,2014-09-13 18:47:48.517,2014-09-13,2017-09-28
28,11215,HEIDI-BO,F,Dachshund Smooth Coat,NaN,Brown,Black,NaN,2007-09-01,Yes,No,Yes,2014-09-13 20:23:46.393,2014-09-13,2017-04-16
29,10011,OTIS,F,Unknown,SEALYHAM TERR,WHITE,BLACK,NaN,2001-01-01,Yes,No,Yes,2014-09-13 20:44:24.550,2014-09-13,2017-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,10019,Hazel,F,Jack Russell Terrier,NaN,WHITE,TAN,NaN,2010-02-01,Yes,No,Yes,2015-03-29 20:51:35.360,2015-03-29,2017-03-01
2971,10025,Bailey,M,Labradoodle,NaN,BLOND,GOLD,TAN,2008-06-01,Yes,No,Yes,2015-03-29 21:06:49.380,2015-03-29,2020-04-27
2972,10025,Chester,M,Labradoodle,NaN,BROWN,CHOCOLATE,SILVER,2008-10-01,Yes,No,Yes,2015-03-29 21:06:49.427,2015-03-29,2020-04-27
2973,11201,Cindy,F,German Shepherd Crossbreed,NaN,BROWN,BLACK,NaN,2007-10-01,Yes,No,Yes,2015-03-29 21:16:31.477,2015-03-29,2019-05-01
2974,10034,LUNA,F,Shih Tzu,NaN,WHITE,NaN,NaN,2004-01-01,Yes,No,Yes,2015-03-29 21:28:02.013,2015-03-29,2017-04-29
2975,10312,Sasha,F,Unknown,Siberian Husky Mix,BLACK,WHITE,NaN,2008-09-01,Yes,No,Yes,2015-03-29 21:28:08.830,2015-03-29,2016-05-06
2976,11215,OSCAR,M,Dachshund Smooth Coat,NaN,BLACK,TAN,NaN,2004-01-01,Yes,No,Yes,2015-03-29 21:36:14.863,2015-03-29,2016-04-29
2977,10025,Freddie,M,Unknown,Maltese/Terrier Mix,WHITE,NaN,NaN,2009-04-01,Yes,No,Yes,2015-03-29 21:39:35.183,2015-03-29,2016-05-07
2978,11377,Amorcito,F,"Poodle, Standard",NaN,TAN,NaN,NaN,2008-01-01,Yes,No,Yes,2015-03-29 22:08:57.513,2015-03-29,2016-05-10
2979,10024,PANCHO,M,Unknown,COCKAPOO,BLACK,WHITE,NaN,2004-01-01,Yes,No,Yes,2015-03-29 22:40:32.757,2015-03-29,2017-02-27
2980,11218,Harley,M,Unknown,Mixed,BRINDLE,NaN,NaN,2007-12-01,Yes,No,Yes,2015-03-29 22:57:27.163,2015-03-29,2017-04-10
2981,10001,Kalbi,M,"Bull Dog, French",NaN,FAWN,NaN,NaN,2011-08-01,Yes,No,Yes,2015-03-29 22:58:43.120,2015-03-29,2018-04-19
2982,10001,Cairo,M,"Bull Dog, French",NaN,WHITE,FAWN,NaN,2012-04-01,Yes,No,Yes,2015-03-29 22:58:43.120,2015-03-29,2018-04-19
2983,10040,Kiyoko,F,Shiba Inu,NaN,WHITE,CREAM,NaN,2009-12-01,Yes,No,Yes,2015-03-29 23:47:33.957,2015-03-29,2018-03-02
2984,11233,Nola,F,Unknown,NaN,BRINDLE,BROWN,BLACK,2011-04-01,Yes,No,Yes,2015-03-30 08:38:39.867,2015-03-30,2020-05-07
2985,10011,Paco,M,Labrador Retriever Crossbreed,NaN,CHOCOLATE,WHITE,NaN,2014-01-01,Yes,No,Yes,2015-03-30 09:20:07.240,2015-03-30,2017-05-12
2986,11385,ARMONIA,F,German Shepherd Dog,NaN,WHITE,TAN,NaN,2002-01-01,Yes,No,Yes,2015-03-30 09:41:01.853,2015-03-30,2016-04-29
2987,10075,Arleigh,F,Yorkshire Terrier,NaN,BLACK,NaN,NaN,2013-12-01,Yes,No,Yes,2015-03-30 09:42:25.923,2015-03-30,2020-04-17
2988,10024,VERONICA,F,"Poodle, Miniature",NaN,BLACK,NaN,NaN,2004-01-01,Yes,No,Yes,2015-03-30 09:58:05.247,2015-03-30,2016-05-07
2989,11238,Lily,F,Unknown,Husky Mix,WHITE,NaN,NaN,2009-11-01,Yes,No,Yes,2015-03-30 10:16:52.283,2015-03-30,2016-06-07
2990,11234,Hudson,M,Labrador Retriever,NaN,Black,NaN,NaN,2007-12-01,Yes,No,Yes,2015-03-30 10:27:57.453,2015-03-30,2016-05-01
2991,10028,Zoe,F,Labrador Retriever Crossbreed,NaN,BLACK,NaN,NaN,2006-08-01,Yes,No,Yes,2015-03-30 10:28:07.387,2015-03-30,2016-05-06
2992,10002,Cup Cake,F,Shih Tzu,NaN,WHITE,GRAY,NaN,2011-06-01,Yes,No,No,2015-03-30 10:28:34.970,2015-03-30,2016-05-03
2993,11364,Ranger,M,Doberman Pinscher,NaN,Black,Rust,NaN,2004-01-01,Yes,No,Yes,2015-03-30 10:45:47.537,2015-03-30,2016-04-29
2994,11421,Major,M,American Pit Bull Terrier/Pit Bull,NaN,WHITE,GRAY,NaN,2008-11-01,Yes,No,Yes,2015-03-30 10:46:51.590,2015-03-30,2016-05-04
2995,10022,RASCAL,M,Jack Russell Terrier,NaN,WHITE,BROWN,NaN,2008-01-01,Yes,No,Yes,2015-03-30 10:48:48.510,2015-03-30,2016-05-04
2996,10011,Chanel,F,Papillon,NaN,WHITE,BLACK,NaN,2009-01-01,Yes,No,Yes,2015-03-30 11:39:59.417,2015-03-30,2020-02-19
2997,10016,MURPHY,M,Beagle,NaN,BROWN,WHITE,BLACK,2005-01-01,Yes,No,Yes,2015-03-30 11:41:35.887,2015-03-30,2017-04-28
2998,10012,Tucker,M,Beagle Crossbreed,NaN,Fawn,NaN,NaN,2006-01-01,Yes,NaN,Yes,2015-03-30 11:45:22.430,2015-03-30,2017-03-30
2999,11209,Sophie,F,Unknown,Welsh Terrier,BLACK,BROWN,NaN,2012-07-01,Yes,No,Yes,2015-03-30 12:23:15.410,2015-03-30,2016-05-19

# Your thoughts

Think of four questions you could ask this dataset. **Don't ask them**, just write them down in the cell below.

In [94]:
#Which animal color is the most common?
#How many dogs are vaccinated and how many are not?
#How many Rottweilers are Spayed or Neut?
#Find the zip code for the animals that are "Guard or Trained"

# Looking at some dogs

## What are the 10 most popular (primary) breeds of dogs?

In [31]:
df['Primary Breed'].value_counts().head(10)

Unknown                                 416
Yorkshire Terrier                       160
Chihuahua                               147
Shih Tzu                                140
Maltese                                 122
Labrador Retriever                      117
Labrador Retriever Crossbreed            85
American Pit Bull Terrier/Pit Bull       84
American Pit Bull Mix / Pit Bull Mix     81
Beagle                                   74
Name: Primary Breed, dtype: int64

## "Unknown" is a terrible breed! What are the top 10 breeds that are NOT Unknown

In [114]:
pb= df[df['Primary Breed'] != 'Unknown']
pb['Primary Breed'].value_counts().head(10)

Yorkshire Terrier                       160
Chihuahua                               147
Shih Tzu                                140
Maltese                                 122
Labrador Retriever                      117
Labrador Retriever Crossbreed            85
American Pit Bull Terrier/Pit Bull       84
American Pit Bull Mix / Pit Bull Mix     81
Beagle                                   74
Poodle, Miniature                        58
Name: Primary Breed, dtype: int64

## What are the most popular dog names?

In [68]:
df['Animal Name'].value_counts().head()

Bella      25
Max        19
Lola       19
Charlie    19
Lily       15
Name: Animal Name, dtype: int64

## Do any dogs have your name? How many dogs are named "Max," and how many are named "Maxwell"?

In [73]:
df3=df['Animal Name'] == 'Max'
df3.value_counts()

False    2981
True       19
Name: Animal Name, dtype: int64

In [74]:
df3=df['Animal Name'] == 'Maxwell'
df3.value_counts()

False    2999
True        1
Name: Animal Name, dtype: int64

## What percentage of dogs are guard dogs?

Check out the documentation for [value counts](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html).

In [76]:
df['Guard or Trained'].value_counts(normalize=True, sort=True)

No     0.998248
Yes    0.001752
Name: Guard or Trained, dtype: float64

## What are the actual numbers? 
Hint: Maybe you want to find the sum?

In [85]:
df['Guard or Trained'].value_counts(sort=True)

No     1709
Yes       3
Name: Guard or Trained, dtype: int64

In [86]:
sum(df['Guard or Trained'].value_counts(sort=True))

1712

## Wait... if you add that up, is it the same as your number of rows? Where are the other dogs???? How can we find them??????

Use your `.head()` to think about it, then you'll do some magic with `.value_counts()`

In [87]:
df['Guard or Trained'].value_counts(sort=True, dropna=False)

No     1709
NaN    1288
Yes       3
Name: Guard or Trained, dtype: int64

In [88]:
sum(df['Guard or Trained'].value_counts(sort=True, dropna=False))

3000

## What are the top dog breeds for guard dogs?

In [91]:
df['Primary Breed'] [df['Guard or Trained'] == 'Yes'].head()

2363             Unknown
2702    Poodle, Standard
2871             Unknown
Name: Primary Breed, dtype: object

In [92]:
df['Secondary Breed'] [df['Guard or Trained'] == 'Yes'].head()

2363    Chinese Crested/terrier
2702                         NaN
2871       black russian terrier
Name: Secondary Breed, dtype: object